# https://ocaml.org/p/ocamlformat/latest/doc/manpage_ocamlformat.html

wrap-comments=false
profile = ocamlformat
function-indent-nested = always
parens-tuple = always
if-then-else = vertical
doc-comments=before