# https://ocaml.org/p/ocamlformat/latest/doc/manpage_ocamlformat.html

margin = 80 
line-endings = lf
wrap-comments=false
profile = conventional
break-cases = toplevel 
if-then-else = vertical
disambiguate-non-breaking-match=true 
doc-comments=before